.clippy-container {
    width: 150px;
    height: 150px;
    position: relative;
    cursor: pointer;
    animation: float 3s ease-in-out infinite;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    -webkit-app-region: drag;
    /* Make draggable */
}

.clippy-svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.clippy-body {
    stroke: #d0d0d0;
}

.clippy-container:hover .clippy-body {
    stroke: #ffffff;
}
